/* custom fonts */

/*  'Darker Grotesque' designed by Gabriel Lam
        > source: https://en.bestfonts.pro/font/darker-grotesque
        > also available at:
            - https://fonts.google.com/specimen/Darker+Grotesque
            - https://www.fontsquirrel.com/fonts/darker-grotesque
*/

@font-face {
    font-family: 'darker grotesque';
    src: url('./../assets/fonts/darkerGrotesque/darker-grotesque-semi-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darker grotesque';
    src: url('./../assets/fonts/darkerGrotesque/darker-grotesque-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* variables */
:root {
    /* game dimensions */
    --panel-size: 18rem;
    --centre-size: 18rem;
    
    /* colour codes */
    --green: rgb(89, 163, 89);
    --green-active: rgb(80, 255, 80);

    --red:  rgb(200, 65, 65);
    --red-active:  rgb(255, 0, 0);

    --yellow: rgb(255, 219, 87);
    --yellow-active: rgb(255, 255, 0);

    --blue: #1F51FF;
    --blue-active: #20d2f4;

    --orange: #e68333;
    --orange-dark:  #a44a00;

    --font-main: 'darker grotesque', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.title {
    margin-top: 2.5rem;
    font-size: 3.5rem;
}

.panels {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel {
    width: var(--panel-size);
    height: var(--panel-size);
    display: inline-block;
    border: 10px solid black;
}
    .panel:hover {
        cursor: pointer;
    }

.panel#green { /* top left */
    background-color: var(--green);
    border-top-left-radius: 100%;
}
    /* .panel#green:hover {
        background-color: var(--green-active);
        border: 10px solid var(--green-active);
    } */
    .panel#green.active {
        background-color: var(--green-active);
        border: 10px solid var(--green-active);
    }


/* game panels */

.panel#red {  /* top right */
    background-color: var(--red);
    border-top-right-radius: 100%;
}
    /* .panel#red:hover {
        background-color: var(--red-active);
        border: 10px solid var(--red-active);
    } */
    .panel#red.active {
        background-color:  var(--red-active);
        border: 10px solid  var(--red-active);
    }

.panel#yellow {  /* bottom left */
    background-color: var(--yellow);
    border-bottom-left-radius: 100%;
}
    /* .panel#yellow:hover {
        background-color: var(--yellow-active);
        border: 10px solid var(--yellow-active);
    } */
    .panel#yellow.active {
        background-color: var(--yellow-active);
        border: 10px solid var(--yellow-active);
    }

.panel#blue {  /* bottom right */
    background-color: var(--blue);
    border-bottom-right-radius: 100%;
   
}
    /* .panel#blue:hover {
        background-color: var(--blue-active);
        border: 10px solid var(--blue-active);
    } */
    .panel#blue.active {
        background-color: var(--blue-active);
        border: 10px solid var(--blue-active);
    }


/* game centre buttons */

.centre-btns {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--centre-size);
    height: var(--centre-size);
    border-radius: 100%;
    gap: 2rem;
}

.centre-btns #btn-start {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-size: 2rem;
}
    .centre-btns #btn-start:hover {
        cursor: pointer;
        background-color: var(--orange);
        transition: 0.4s;
        scale: 1.2;
        border: 1px solid var(--orange-dark);
    }

.centre-btns .btns-strict-mute {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#label-strict, #label-mute {
    font-size: 1.4rem;
    color: grey;
}

#label-strict:hover, #label-mute {
    cursor: pointer;
}

#counter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(89, 68, 68);
    color: white;
    font-size: 1.7rem;
    padding: 0.1rem 1.2rem;
    border-radius: 2px;
}